<nav class="sidebar">
    <ul class="navlateral-principal">
      <li>
        <a href="Time">
        <figure class="navlateral-figure"> 
          <img src="assets/img/time.png" alt="">
        </figure>
        <span> Time </span>
      </a></li>
      <li> <a href="Expense">
          <figure class="navlateral-figure"> 
              <img src="assets/img/expense.png" alt="">
            </figure>
            <span> Expense </span>
      </a></li>
      <li> <a href="Locations">
          <figure class="navlateral-figure"> 
              <img src="assets/img/locations.png" alt="">
            </figure>
            <span> Locations </span>
      </a></li>
      <li> <a href="Other actions">
          <figure class="navlateral-figure"> 
              <img src="assets/img/other.png" alt="">
            </figure>
            <span> Other actions </span>
      </a></li>
    </ul>
  </nav>